#main-container {
  background-color: aqua;
  width: 800px;
  height: 100%;
  margin: auto;
}
#main-left-container {
  background-color: #efe6e6;
  width: 250px;
  height: 100vh;
}
#main-leftInner-container {
  background-color: #3c4240;
  position: relative;
  top: 2%;
  width: 250px;
  height: 73vh;
}
img {
  border-radius: 50%;
  width: 60%;
  position: relative;
  left: 20%;
  top: 2.5%;
  align-items: center;
}
h2 {
  position: relative;
  top: 2%;
  font-size: large;
  font-family: 
  text-align: center;
  overflow: hidden;
}
