#main-container {
  background-color: whitesmoke;
  width: 100vh;
  height: 133.5vh;
  margin: auto;
}
#main-left-container {
  background-color: #efe6e6;
  width: 40%;
  height: 100vh;
}
#main-leftInner-container {
  background-color: #3c4240;
  position: relative;
  top: 2.4%;
  width: 100%;
  height: 100vh;
}
img {
  border-radius: 50%;
  width: 60%;
  position: relative;
  left: 20%;
  top: 3%;
  align-items: center;
}
#name {
  position: relative;
  top: 2.8%;
  color: #3c4240;
  font-size: medium;
  font-weight: 200%;
  font-family: "garet", sans-serif;
  text-align: center;
  overflow: hidden;
}
.profileText {
  position: relative;
  left: 10%;
  top: 2.8%;
  color: #efe6e6;
  font-family: "garet", sans-serif;
  overflow: visible;

  text-align: left;
}
.profileText ul li {
  position: relative;
  list-style: none;
  margin-top: 15px;
}
.profileText ul li .text {
  color: #a6a6a6;
  font-weight: 100;
  font-size: medium;
  position: relative;
}
