* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bgcontainer {
  position: fixed;
  z-index: -10;
  top: 0;
  background-image: url("./images/hero.png");

  height: 100vh;
  width: 100vw;
}

#container {
}

#container-nav {
  display: flex;
  justify-content: space-between;
}

#container-nav-logo img {
  margin-left: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 20px;
}

.item-text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.item-text:hover {
  /* font-size: 22px; */
  color: red;
}

#container-nav-search img {
  margin-right: 20px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.hero-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.tagline {
  margin-left: 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.tagline:hover {
  font-size: 32px;
  color: aqua;
}
.red {
  color: red;
}
@keyframes shake-image {
  0% {
    transform: translate(-18px, -14px);
  }
  33% {
    transform: translate(-20px, -14px);
  }
  66% {
    transform: translate(-20px, -16px);
  }
  100% {
    transform: translate(-18px, -16px);
  }
}

/* Add the following styles at the end of your existing CSS */

.main-section {
  display: grid;
  place-items: center;
  padding: 200px; /* Add padding for better spacing if needed */
}
.main-main-container{
  
  width: 70%;
}
.carousel-inner {
  background-color: black;
  height: 370px; /* Adjust the height as needed */
}

.carousel-caption {
  background: white(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent black background for captions */
  padding: 20px;
}
.text-section {
  width: 30%;
}
.carousel-caption h5,
.carousel-caption p {
  margin: 10px;
  color: red;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: white;
}


